.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background-color: darkslategray;
  color: whitesmoke;
}

.page_link {
  text-decoration: underline;
  color: blanchedalmond;
}
